nav {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap;
}

td {
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
    white-space:normal;
}
